<div class="container">
  <mat-card class="weather-container">
    <ng-container >
      <mat-grid-list cols="12" rowHeight="4em" [gutterSize]="'10px'">
        <mat-grid-tile [colspan]="3">
          <mat-form-field>
            <mat-label>Cidade</mat-label>
            <input matInput [(ngModel)]="city_name">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3"><button mat-raised-button color="primary" (click)="getWeather()">Consultar clima</button></mat-grid-tile>
      </mat-grid-list>

    </ng-container>
  </mat-card>

  <mat-divider></mat-divider>

  <mat-card class="card-weather mat-elevation-z5">
    <div *ngIf="!weather">
      <mat-progress-spinner></mat-progress-spinner>
    </div>
    <div *ngIf="weather">
      <mat-card-header>
        <mat-card-title>Cidade {{ weather.city }}</mat-card-title>
        <mat-card-subtitle>{{ weather.date + " " + weather.time}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="flex-row">
          <div class="temp">
            <span>{{weather.temp}} °C</span>
            <span>Vento {{ weather.wind_speedy }}</span>
          </div>
          <div class="outlook">
            <img src="https://assets.hgbrasil.com/weather/icons/conditions/{{ weather.condition_slug}}.svg" />
            <br>
            <span>{{weather.description}}</span>
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>

