th.mat-sort-header-sorted {
  color: black;
}


.weather-container{
  display: flex;
  padding: 50px;
  height: 100%;
}


mat-form-field {
  width: 100%;
}



.card-weather{
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card::ng-deep.mat-card-header-text {
  width: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;


}
.flex-row > div {
  flex: 50%;
  border-radius: 10px;
  padding: 10px;
}

.temp {
  background: lightblue;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outlook {
  color: black;
  background: rgba(0, 0, 0, 0.1);
}
